
{% extends 'base.html' %}
{% load static %}
{% block title %}Contact {% endblock title %}

{% block main-content %}
<div class="container mt-3 d-flex bg-lightgreen">
        <div class="flex-grow-1">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 class="text">Contact Us</h2>
        <p class="fs-4 text">Instagram : @Ingreen99</p>
        <p class="fs-4 text">Address : lokanthali,bhaktapur</p>
        <p class="fs-4 text">Email : ingreen99@gmail.com </p>
          
    </div>
<br><br><br><br><br><br><br>
    <div class="container mt-3 ">
<div class="container mt-3 d-flex">
    <div class="flex-grow-1">
        <br>
        <br>
        <br>
        <br>
        <br>
        
    </div>

    <div class="flex-grow-1">
        <br>
        <br>
        <br>
        <br>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14132.864668781982!2d85.28821958715818!3d27.679712999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19a4bf31abff%3A0xcd36c6477c08504f!2sGreen%20Space%20Nepal!5e0!3m2!1sen!2snp!4v1687618036868!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <img src="{% static 'image/slider/insta.png' %}" alt="Instagram" class="img-fluid">
    </div>
</div>
        <img src="{% static 'image/slider/insta.png' %}" alt="Instagram">
    </div>
</div>

{% endblock main-content%}
