{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
{% block banner-slider %}
<section class="row" id="slider" style="margin-top: 56px;">
  <div id="carouselExampleCaptions" class="carousel slide p-0">
    <div class="carousel-indicators">
      {% for s in sliders %}
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="{{ forloop.counter0 }}"
        {% if forloop.counter0 == 0 %}
        class="active"
        aria-current="true"
        {% endif %} 
        aria-label="Slide {{ forloop.counter }}"
      ></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for s in sliders %}
      <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
        <img
          src="{{ s.image.url }}"
          class="d-block mx-auto "
          alt="Slider Image"
          style="width: 84% ;height: 600px; display: block; margin-left: auto; margin-right: auto;"
         />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ s.title }}</h5>
          <p>{{ s.details }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
{% endblock banner-slider %}
{% endblock content %}

{% block information %}
  <div class="container d-flex align-items-center justify-content-center bg-success text-center p-5 text-white border-bottom shadow" style="width: 85%; margin: 0 auto;">
    <div>
      <h1>Products</h1>  
      <small class="fs-5">Plants are predominantly photosynthetic eukaryotes, forming the kingdom Plantae. Many are multicellular. Historically, the plant kingdom encompassed all living things that were not animals, and included algae and fungi. All current definitions exclude the fungi and some of the algae. By one definition, plants form the clade Viridiplantae (Latin for "green plants") which</small>
    </div>
  </div>
{% endblock information %}



{% block main-content %}
<center>
<div class="container light-green-bg">
  <br>
  <br>
<h2 class="text-center">Products</h2>  
<br>
<div class="row container light-green-bg">
  <div class="class col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="-.6s" style ="animation-duration:1s; animation-delay:0.6s; animation-name:none;">
    <div class="pro" style="width: 250px; height: 400px;">
    <a href="{% url 'category' 'IP' %}" style="text-decoration: none; color: black; font-weight: bold;">
      <div class ="box" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 100%; height: 70%; ">
        <img src="{% static 'app/image/product/pilea.jpg' %}" class ="img-responsive"  alt="">
        <p class="item">Indoor Plant</p>
      </div>
    </a>
  </div>
</div> 
<div class="class col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="-.6s" style ="animation-duration:1s; animation-delay:0.6s; animation-name:none;">
  <div class="pro" style="width: 250px; height: 400px;">
    <a href="{% url 'category' 'OP' %}" style="text-decoration: none; color: black; font-weight: bold;">
      <div class ="box" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 100%; height: 70%; ">
        <img src="{% static 'app/image/product/burro.jpg' %}" class ="img-responsive"  alt="">
        <p class="item">OutdoorPlant</p>
      </div>
    </a>
  </div>
</div>
<div class="class col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="-.6s" style ="animation-duration:1s; animation-delay:0.6s; animation-name:none;">
  <div class="pro" style="width: 250px; height: 400px;">
    <a href="{% url 'category' 'IP' %}" style="text-decoration: none; color: black; font-weight: bold;">
      <div class ="box" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 100%; height: 70%; ">
        <img src="{% static 'app/image/product/snake.jpg' %}" class ="img-responsive"  alt="">
        <p class="item">Snake plant</p>
      </div>
    </a>
  </div>
</div>
<div class="class col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="-.6s" style ="animation-duration:1s; animation-delay:0.6s; animation-name:none;">
  <div class="pro" style="width: 250px; height: 400px;">
    <a href="{% url 'category' 'IP' %}" style="text-decoration: none; color: black; font-weight: bold;">
      <div class ="box" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 100%; height: 70%; ">
        <img src="{% static 'app/image/product/wa.jpg' %}" class ="img-responsive"  alt="">
        <p class="item">watermelon pepormenia</p>
      </div>
    </a>
  </div>
</div>
<div class="class col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="-.6s" style ="animation-duration:1s; animation-delay:0.6s; animation-name:none;">
  <div class="pro" style="width: 250px; height: 400px;">
    <a href="{% url 'category' 'IP' %}" style="text-decoration: none; color: black; font-weight: bold;">
      <div class ="box" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 100%; height: 70%; ">
        <img src="{% static 'app/image/product/jade.jpg' %}" class ="img-responsive"  alt="">
        <p class="item">jade</p>
      </div>
    </a>
  </div>
</div>
<div class="class col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="-.6s" style ="animation-duration:1s; animation-delay:0.6s; animation-name:none;">
  <div class="pro" style="width: 250px; height: 400px;">
    <a href="{% url 'category' 'IP' %}" style="text-decoration: none; color: black; font-weight: bold;">
      <div class ="box" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 100%; height: 70%; ">
        <img src="{% static 'app/image/product/Haworthiaretusa.jpg' %}" class ="img-responsive"  alt="">
        <p class="item">Haworthia</p>
      </div>
    </a>
  </div>
</div> <br/>
</div>
</div>
</center>

{% endblock main-content %}
