{% extends 'base.html' %}
{% load static %}
{% block title %}Profile
{% endblock title %}
{% block main-content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2>Wishlist</h2><br>
            {% for item in wishlist_items %}
            <div class="row">
                <div class="col-sm-3 text-center align-self-center">
                    <img src="{{ item.product.product_image.url }}" alt="" srcset=""
                        class="img-fluid img-thumbnail shadow-sm" height="100" width="100">
                </div>
                <div class="col-sm-9">
                    <div>
                        <h5>{{ item.product.title }}</h5>
                        <p class="mb-2 text-muted small">{{ item.product.description }}</p>
                        <div class="my-3">
                            <a href="{% url 'add-to-cart-from-wishlist' item.id %}" class="btn btn-primary">Add to Cart</a>
                        </div>
                   </div>
                </div>
            </div>
            <hr class="text-muted">
            {% endfor %}
        </div>
    </div>
</div>

{% endblock main-content %}